{% extends 'layout.html' %} {% load static %} {% block title %} Department
Definition {% endblock %} {% block content %}
<div class="container">
  <h2 class="page-title">Department Definition</h2>
  <div class="form-container">
    <form method="post" novalidate>
      {% csrf_token %} {% if message %}
      <div class="alert alert-success">{{ message |striptags }}</div>
      {% endif %} {% for field in form %}
      <div class="form-group">
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }} {% if field.error %}
        <div class="text-danger">{{ field.error|striptags }}</div>
        {% endif %}
      </div>
      {% endfor %} {% if errors %}
      <div class="alert alert-danger">{{ errors |striptags }}</div>
      {% endif %}

      {% include 'form_actions.html' with save_label="Save Department" %}
    </form>
  </div>
</div>
{% endblock %}